[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vbence/Desktop/EGYETEM]
row=0
col=3

[/home/vbence/Desktop/steam.desktop]
row=0
col=4

[Trash]
row=0
col=0

[/]
row=0
col=1

[/home/vbence]
row=0
col=2

